body {
  margin-left:5%;
  margin-top:2.5%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 200px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 10px;
  padding: 5px;
}
.del_btn {
  width: 40px; 
  font-size:8px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

#topleft{
    margin-top:20px;
    float:left;
    width:40%;
    height:700px;
}
#topright{
    margin-top:20px;
    float:right;
    width:60%;
    height:300px;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
}

.fixed {
  width:900px;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed th {
  text-decoration: underline;
}
.fixed th,
.fixed td {
  padding: 5px;
  text-align: center;
  width:90px;
  min-width: 40px;
}

.fixed thead {
  background-color: AliceBlue;
}
.fixed thead tr {
  display: block;
  position: relative;
}
.fixed tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

